@font-face {
    font-family: 'Morebi Rounded Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Morebi Rounded Regular'), url('../../../public/Fonts/GT-CANARY\ -\ MorebiRounded-Regular.woff') format('woff');
}
* {
    font-family: 'Morebi Rounded Regular', arial;
}

.container {
    max-width: 1200px;
}

.v-tooltip__content {
    background: #DCE9FF !important;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    display: inline-block;
    padding: 5px 16px;
    position: absolute;
    text-transform: none;
    width: auto;
    opacity: 1;
    pointer-events: none;
}

@media (min-width: 320px) and (max-width: 1193px) {
    .container {
        max-width: 90%;
    }
}

@import 'saludya/variables';
@import 'saludya/Footer';
@import 'saludya/Home';
@import 'saludya/Servicio';
@import 'saludya/registry';
@import 'saludya/Plan';
@import 'saludya/fucntions';

@import 'saludya/Datos';
@import 'saludya/headerser';
@import 'saludya/sueter';
@import 'saludya/Plataforma';
@import 'saludya/Botton';
